<style>
    h1{
        align-content: center;
        background-color: lightcoral;

        
    }
    containter header{
        align-content: center;
        background-color: lightcoral;
    }

    Body{
        background-color: lightskyblue;
        
    }

</style>